
.input-label {
    display: block;
    font-size: .75rem;
    color: #6b7280;
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: .05em
}

.input-field {
    width: 100%;
    background-color: transparent;
    border: 1px solid #d1d5db;
    color: black;
    padding: .5rem .75rem;
    border-radius: .375rem;
    transition: all .15s cubic-bezier(.4, 0, .2, 1)
}

.input-field:focus {
    outline: 0;
    border-color: black;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1)
}

.input-field.pin-field {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .5em
}

.btn-primary {
    background-color: black;
    color: white;
    font-weight: 700;
    padding: .75rem 1.5rem;
    border-radius: .375rem;
    transition: all .2s
}

.btn-primary:hover {
    background-color: #374151
}

.btn-secondary {
    background-color: #f3f4f6;
    color: black;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: .375rem;
    transition: background-color .2s
}

.btn-secondary:hover {
    background-color: #e5e7eb
}

.table-header {
    padding: .75rem 1rem;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #6b7280;
    border-bottom: 1px solid #e5e7eb
}

.table-cell {
    padding: 1rem;
    font-size: .875rem
}

.chart-title {
    font-size: 1rem;
    color: #6b7280;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem
}
